#wrap{
    width: 225px;
    height: 320px;
    border: 1px solid #8C1480;
    position: relative;
}

.header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.logo{
    position: absolute;
}

.logo > img{
    margin: 5px 10px;
    width: 70px;
    height: auto;
}

.event > img{
    float: right;
    margin: 5px 10px;
    width: 70px;
    height: auto;
}

.content{
    position: relative;
}

.product{
    position: absolute;
    width: 100%;
}

.product > img{
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.footer{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.desc{
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 13px;
}

.comment{
    width: 30%;
    height: auto;
    float: right;
    position: absolute;
    margin-bottom: 5px;
    margin-right: 5px;
    bottom: 0;
    right: 0;
}

.comment > img{
    width: 30px;
    height: auto;
}