#wrap_cu{
    width: 200px;
    height: 330px;
    border: 1px solid #8C1480;
    border-radius: 10px;
    position: relative;
}

/* #################### */
/* 상단 로고 행사 안내 부분 */
.header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
/* 로고 행사 부모 */
.logo{
    position: absolute;
}
/* 로고 */
.logo > img{
    margin: 5px 10px;
    width: 50px;
    height: auto;
}
/* 행사 로고 */
.event > img{
    float: right;
    margin: 5px 10px;
    width: 50px;
    height: auto;
}

/* #################### */
/* 제품 안내 부분 */
.content{
    position: relative;
}
/* 제품 부모 */
.product{
    position: absolute;
    width: 100%;
    height: auto;
}
/* 제품사진 */
.product > img{
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* #################### */
/* 제품 설명 부분 */
.footer{
    width: 100%;
    height: auto;
    position: absolute;
    top: 225px;
}
/* 제품정보 부모 */
.desc{
    width: 90%;
    float: left;
}
/* 제품정보 */
.desc > span{
    display: block;
    text-align: left;
    padding: 0px 10px;
}
/* 댓글링크 이미지 부모 */
.comment{
    width: 10%;
    float: right;
}
/* 댓글링크 이미지 */
.comment > img{
    position: absolute;
    width: 50px;
    height: auto;
    right: 8px;
    bottom: 0;
    top: 40px;
}



@media screen and (max-width: 768px){
    #wrap_cu{
        width: 165px;
        height: 270px;
    }
    
    /* #################### */
    /* 상단 로고 행사 안내 부분 */
    /* 로고 행사 부모 */
    /* 로고 */
    .logo > img{
        margin: 3px 5px;
        width: 35px;
        height: auto;
    }
    /* 행사 로고 */
    .event > img{
        margin: 3px 5px;
        width: 35px;
        height: auto;
    }
    
    /* #################### */
    /* 제품 안내 부분 */
    /* 제품 부모 */
    /* 제품사진 */
    .product > img{
        width: 65px;
    }
    
    /* #################### */
    /* 제품 설명 부분 */
    .footer{
        top: 155px;
    }
    /* 제품정보 부모 */
    /* 제품정보 */
    .desc > span{
        margin-top: 5px;
        font-size: 13px;
    }
    /* 댓글링크 이미지 부모 */
    /* 댓글링크 이미지 */
    .comment > img{
        width: 35px;
        right: 3px;
        bottom: 0;
        top: 68px;
    }
}